* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nav-items {
  padding-top: 20px;
}

li {
  float: left;
}

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
}

.nav-item {
 margin-left: 70px;
 color: rgb(225, 225, 225);
 display: block;
 text-decoration: none;
 font-size: 16px;
}

.icon {
  position: relative;
  top: -9px;
  height: 37px;
  width: 37px;
  cursor: pointer;
  color: rgb(201, 201, 201);
}

.search {
  position: relative;
  top: -1px;
  color: rgb(201, 201, 201);
}


.financing {
  font-size: 13px;
  margin-top: 20px;
  color: rgb(29,29,31);
}

.new {
  font-size: 13px;
  color: rgb(244, 158, 0);
  margin-top: 15px;
}

.product {
  margin-top: 10px;
  font-size: 70px;
  color: rgb(29,29,31);
}

.description {
  font-size: 23px;
  color: rgb(29,29,31);
}

.pricing {
  margin-top: 10px;
  font-size: 13px;
  color: rgb(29,29,31);
}

.btn {
  width: 70px;
  border: none;
  border-radius: 15px;
  background-color: rgb(0, 113, 227);
  padding: 5px;
  color: white;
  cursor: pointer;
  margin-top: 13px;
}

.more-info-div {
  margin-top: 13px;
}

.more-info, .mac-value {
  font-size: 13px;
  text-decoration: none;
  color: rgb(0, 113, 227);
}

.macbook {
  margin-top: 60px;
  height: 20%;
  width: 75%;
}

.blocks {
  margin-top: 150px;
  display: grid;
  grid-template-columns: repeat(2, 680px);
  margin-bottom: 70px;
}

.left-block {
  background-color: rgb(242, 242, 242);
  padding-top: 20px;
  margin-right: 10px;
  margin-left: 50px;
}

.right-block {
  background-color: rgb(242, 242, 242);
  padding-top: 21px;
  margin-left: 10px;
  margin-right: 50px
}

.accessories, .trade-in {
  font-size: 15px;
  padding-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
}

#tools {
  margin-top: 40px;
  width: 470px;
  height: 280px;
}

.tools-allies, .moto {
  font-size: 30px;
  margin-bottom: 20px;
}

.see-btn {
  width: 50px;
  border: none;
  border-radius: 15px;
  background-color: rgb(0, 113, 227);
  padding: 5px;
  color: white;
  cursor: pointer;
  margin-top: 5x;
  margin-bottom: 20px;
}

.change {
  font-size: 13px;
  margin-bottom: 15px;
}

#cover {
  width: 470px;
  height: 260px;
  margin-top: 40px;
}

.final-block {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.box {
  height: 3rem;
  width: 3rem;
}

.free-delivery {
  margin-top: 5px;
  margin-bottom: 5px;
}

.refund {
  margin-bottom: 3px;
}

.footer {
  background-color: rgb(245, 245, 247);
  width: 100%;
  padding: 20px 0px 50px 0px;
  margin-top: 30px;
}

.copyright {
  color: gray;
  margin-bottom: 10px;
  font-size: 13px;
}

.footer-link {
  text-decoration: none;
  color: rgb(81, 81, 84);
  font-size: 13px;
  margin-right: 7px;
}

span {
  margin-left: 15px;
  opacity: 60%;
  cursor: auto;
}

.copyright-div, .links-div {
  float: left;
  margin-left: 280px;
}